@import 'src/styles/colors';
@import 'src/styles/mixins';
.green-stick {
  border-left: 4px solid $light-green;
  padding: 13px 35px 17px 35px;
  p {
    text-transform: uppercase;
  }
  .title {
    margin-bottom: 6px;
    color: $light-green;
    font-size: 15px;
    line-height: 24px;
  }
  .text {
    font-size: 36px;
    letter-spacing: 1.7px;
    font-weight: bold;
  }
}
