<div class="header-partial">
  <div class="header">
    <div class="logo"></div>
    <div class="content-wrapper">
      <div class="logo-text">
        <p>New Technology</p>
        <p>Development</p>
      </div>
      <ul>
        <li @click="goTo('about')">About</li>
        <li @click="goTo('areas')">Highlights</li>
        <li @click="goTo('project')">Case studies</li>
        <li @click="goTo('team')">Team</li>
        <li @click="goTo('contacts')">Contacts</li>
      </ul>
    </div>
  </div>
  <div class="main">
    <div class="slogan">
      <div class="firm">ntd</div>
      <div class="options">
        <p style="line-height: 45px">Software development</p>
        <p style="line-height: 33px">System Integration</p>
        <p style="line-height: 44px">Expert Analysis</p>
      </div>
    </div>
    <div class="about">
      <p>{{slogan && slogan[0] && slogan[0].firstLine}}</p>
      <p>{{slogan && slogan[0] && slogan[0].secondLine}}</p>
    </div>
  </div>
</div>
