<div class="footer-partial">
  <div class="logo">
    <div class="img"></div>
    <div class="text">
      <p>New Technology</p>
      <p>Development</p>
    </div>
  </div>
  <div class="menu">
    <ul>
      <li @click="goTo('about')">About</li>
      <li @click="goTo('areas')">Highlights</li>
      <li @click="goTo('project')">Case studies</li>
      <li @click="goTo('team')">Team</li>
      <li @click="goTo('contacts')">Contacts</li>
    </ul>
  </div>
  <div class="contact">+7 (351) 111-11-11</div>
</div>
