@import 'src/styles/colors';
@import 'src/styles/mixins';
.footer-partial {
  @include flex(column, center, center);
  background-color: $footer-color;
  padding: 50px 49px 100px;
  .logo {
    display: flex;
    .img {
      background-image: url(../../../public/static/NTDlogo2.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 89px;
      height: 51px;
      margin-right: 34px;
    }
    .text {
      font-family: 'Exo 2', sans-serif!important;
      font-size: 23px;
      line-height: 21px;
      p {
        &:nth-child(2) {
          opacity: 0.9;
        }
      }
    }
  }
  .menu {
    @include flex(row, null, null);
    width: 100%;
    justify-content: center;
    max-width: 670px;
    ul {
      @include flex(row, space-between, center);
      padding: 0;
      width: 100%;
      margin: 40px 0;
      li {
        font-size: 15px;
        list-style-type: none;
        text-transform: uppercase;
      }
    }
  }
  .contact {
    font-size: 42px;
    font-weight: 200;
    line-height: 46px;
  }
}
