$white: #FFF;
$black: #000;
$main-background: #081317;
$card-background: #0F252A;
$background-green: #01303E;
$input-green: #032934;
$input-color: #AED4DD;
$light-green: #5AFBBA;
$dark-blue: #012935;
$footer-color: #052F3B;
$pink: #F934FF;
