@import 'src/styles/colors';
@import 'src/styles/mixins';
body {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  margin: 0;
}
#particles-js {
  z-index: 9;
  position: absolute;
  top: 25px;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  padding-left: 35px;
  max-width: 690px;
  overflow: hidden;
  border-radius: 310px;
  .particles-js-canvas-el {
    border-radius: 305px;
    height: 100vmax !important;
    z-index: 0;
  }
  @media (min-width: 1024px) and (max-width: 1200px) {
    top: 104px;
    height: 51%;
  }
  @media (min-width: 1200px) and (max-width: 1280px) {
    top: 104px;
    height: 63%;
  }
  @media (min-width: 1280px) and (max-width: 1445px) {
    top: 104px;
    height: 50%;
  }
  @media (min-width: 1445px) {
    top: 36px;
    height: 88%;
  }
}
p {
  margin: 0;
}
.VueCarousel-navigation-button {
  padding: 0!important;
  color: red!important;
}
.VueCarousel-navigation-prev {
  border: 26px solid transparent!important;
  border-right: 14px solid $light-green!important;
}
.VueCarousel-navigation-next {
  border: 26px solid transparent!important;
  border-left: 14px solid $light-green!important;
}
.reviews-partial {
  .VueCarousel {
    max-width: 1225px;
    // padding-left: 48px;
  }
}
.about-partial {
  .VueCarousel {
    @include flex(null, center, null);
    .VueCarousel-wrapper {
      max-width: 1230px;
    }
    @media only screen and (max-width: 1024px) {
      max-width: 607px;
    }
  }
}
.contacts-partial {
  .text {
    letter-spacing: 1.3px!important;
  }
}
