<div class="about-partial" ref="about">
  <div class="content-wrapper">
    <div class="left">
      <green-stick :title="'About'" :text="'Our offer'"></green-stick>
      <div class="text">
        <ul v-for="reason in reasons">
          <li v-for="line in reason.lines">{{line}}</li>
        </ul>
      </div>
      <ntd-carousel class="ntd-carousel">
        <slide v-for="vacancy in vacancies">
          <div class="avatar" v-bind:style="{'backgroundImage': getStyle(vacancy)}"></div>
          <div class="position">{{vacancy.title}}</div>
          <div class="price">{{vacancy.wage}}</div>
          <div class="period">{{vacancy.period}}</div>
        </slide>
      </ntd-carousel>
    </div>
    <div class="right">
      <div class="globeWrapper">
        <img class="globe" src="../../../public/static/globe2x.jpg" alt="">
        <vue-particles
        color="#08f2fe"
        :particleOpacity="0.7"
        :particlesNumber="350"
        shapeType="circle"
        :particleSize="2"
        linesColor="#08f2fe"
        :linesWidth="1"
        :lineLinked="true"
        :lineOpacity="0.4"
        :linesDistance="150"
        :moveSpeed="1"
        :hoverEffect="true"
        hoverMode="grab"
        :clickEffect="true"
        clickMode="push"
        />
      </div>
    </div>
  </div>
</div>
