@import 'src/styles/colors';
@import 'src/styles/mixins';
.about-partial {
  padding: 90px 0 109px 109px;
  position: relative;
  .content-wrapper {
    @include flex(row, null, null);
    .left {
      max-width: 650px;
      z-index: 9;
      @media only screen and (max-width: 1024px) {
        width: 100%;
        max-width: 95%;
      }
    }
    .right {
      width: 55%;
      position: relative;
      z-index: 1;
      .globeWrapper {
        height: 100%;
        img {
          position: absolute;
          top: -86px;
          right: 0;
          bottom: 0;
          left: 0;
          background-size: 100%;
          width: 100%;
          max-width: 769px;
          height: auto;
          @media only screen and (max-width: 1280px) {
            top: 50px;
          }
        }
      }
      @media only screen and (max-width: 1023px) {
        display: none;
      }
    }

  }
  .text {
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 28px;
    ul {
      li {
        list-style: none;
      }
    }
  }
  .ntd-carousel {
    max-width: 607px;
    margin-left: 11px;
    .VueCarousel-slide {
      @include flex(column, null, center);
      height: 322px;
      max-width: 172px;
      padding: 15px;
      .avatar {
        // background-image: url(../../../public/static/img/user.png);
        width: 114px;
        height: 114px;
        border: 3px solid $dark-blue;
        border-radius: 65px;
        margin-bottom: 21px;
        background-size: cover;
      }
      .position {
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        color: $light-green;
        font-size: 19px;
        font-weight: 200;
        line-height: 25px;
        padding: 0 6px;
        height: 50px;
      }
      .price {
        font-size: 48px;
      }
      .period {
        font-size: 13px;
        opacity: .5;
      }
    }
    @media only screen and (max-width: 1024px) {
      @include flex(null, center, null);
      max-width: 95%;
      width: 95%;
    }
  }
  @media only screen and (max-width: 1200px) {
    padding-left: 30px;
  }
  @media only screen and (max-width: 900px) {
    padding-bottom: 45px;
  }
}
