<div class="about-partial" ref="about">
  <div class="content-wrapper">
    <div class="left">
      <green-stick :title="'About'" :text="'Our offer'"></green-stick>
      <div class="text">
        <ul>
          <li>Following the progressive trends by using time-tested technologies</li>
          <li>Creating a product the way our customer sees it</li>
          <li>Possibility of developing projects of any complexity</li>
          <li>Highly qualified enthusiastic development team</li>
        </ul>
      </div>
      <ntd-carousel class="ntd-carousel">
        <slide>
          <div class="avatar"></div>
          <div class="position">Lead Java Developer</div>
          <div class="price">$5000</div>
          <div class="period">per month gross</div>
        </slide>
        <slide>
          <div class="avatar"></div>
          <div class="position">Senior Python Developer</div>
          <div class="price">$4500</div>
          <div class="period">per month gross</div>
        </slide>
        <slide>
          <div class="avatar"></div>
          <div class="position">Lead Javascript  Developer</div>
          <div class="price">$5000</div>
          <div class="period">per month gross</div>
        </slide>
        <slide>
          <div class="avatar"></div>
          <div class="position">Senior Javascript Developer</div>
          <div class="price">$4300</div>
          <div class="period">per month gross</div>
        </slide>
        <slide>
          <div class="avatar"></div>
          <div class="position">Lead Analyst</div>
          <div class="price">$4000</div>
          <div class="period">per month gross</div>
        </slide>
        <slide>
          <div class="avatar"></div>
          <div class="position">Lead Java Developer</div>
          <div class="price">$5000</div>
          <div class="period">per month gross</div>
        </slide>
      </ntd-carousel>
    </div>
    <div class="right">
      <vue-particles
        color="#08f2fe"
        :particleOpacity="0.7"
        :particlesNumber="350"
        shapeType="circle"
        :particleSize="2"
        linesColor="#08f2fe"
        :linesWidth="1"
        :lineLinked="true"
        :lineOpacity="0.4"
        :linesDistance="150"
        :moveSpeed="1"
        :hoverEffect="true"
        hoverMode="grab"
        :clickEffect="true"
        clickMode="push"
      />
      <img class="globe" src="../../../public/static/globe2x.jpg" alt="">
    </div>
  </div>
</div>
